.select_join {
    width: 100%;
    height: 32px;
    overflow: hidden;
    border: gray 1px solid;
    border-radius: 3px;
    box-shadow: inset 0px 0px 10px 1px #FEFEFE;
    display: inline-block;

    background: white;

     -webkit-border-radius: 3px;
     -webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
}

.select_join select {
    width: 100%;
    border: 0;
    border-radius: 0;
    height: 32px;

    display: inline-block;
    background: transparent;
    color: grey;

    font-size: 7pt;

    -webkit-appearance: none;
}

.select_join select:focus {
    outline: none;
}